{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

<input type=hidden name="oid" value="00D7Q00000B4BSC">
<input type=hidden name="retURL" value="http://">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="djedevsalesforce@gmail.com">                                     -->
<!--  ----------------------------------------------------------------------  -->

<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>

prenom:<input  id="00N7Q00000JLKxN" maxlength="25" name="00N7Q00000JLKxN" size="20" type="text" /><br>

adresse:<input  id="00N7Q00000JLKxS" maxlength="255" name="00N7Q00000JLKxS" size="20" type="text" /><br>

code postal:<input  id="00N7Q00000JLKxX" name="00N7Q00000JLKxX" size="20" type="text" /><br>

ville:<input  id="00N7Q00000JLKxc" maxlength="255" name="00N7Q00000JLKxc" size="20" type="text" /><br>

<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

<label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>

Date de naissance:<span class="dateInput dateOnlyInput"><input  id="00N7Q00000JLKxh" name="00N7Q00000JLKxh" size="12" type="text" /></span><br>

<input type="submit" name="submit">

</form>


{% endblock %}
